<section class="body">
    <div class="video-card ">
        <div class="card-content">
            <div class="image">
                <img src="{{channeData.snippet.thumbnails.medium.url}}" />
            </div>
            <div class="content">
                <span class="title">{{channeData.snippet.title}}</span>
                <p class="description">{{channeData.snippet.description}}</p>
            </div>
            <div class="actions">
                <input class="input" type="text" placeholder="add your comment">
            </div>
        </div>
    </div>
</section>
